@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap%27');
body {
    font-family: 'Montserrat';
    background-color: #FFF9E9;
}

#Logo{
    width: 150px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
}

.main-container{
    display: block;
    background-color: white;
    width: 600px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: auto;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.forgot h2{
    text-align: center;
    margin: auto;
    font-size: 2em;
}

.forgot p{
    text-align: center;
    margin: auto;
    color: #8B3535;
    font-size: 1.2em;
}

.list-unstyled{
    font-size: 1.2em;
}

/*.form-group{
    display: flex;
    flex-direction: column;
}*/

.email-row{
    width: 95%;
    display: block;
    margin: auto;
}

.form-control{
    width: 100%;
    margin-top: 10px;
    font-size: 1.2em;
}

.form-group label{
    font-size: 1.2em;
}

.card-body p{
   text-align: center;
   color: #828282;
}

.btn{
    background-color: #8B3535;
    border: none;
    color: white;
    padding: 5px 10px;
    font-size: 1em;
    margin:auto;
    display: block;
}

.main-container h4{
    text-align: center;
    font-size: 3em;
}

.input-group{
    width: 100%;
    margin-bottom: 15px;
}

.password-input input{
    font-family: "Montserrat";
}

.fa-eye {
    margin-top: 25px;
    margin-left: -30px;
    text-align: center;
}

@media (max-width: 780px){
    .main-container{
        width: 100%;
    }
    .email-row{
        width: 90%;
    }
}


