@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap%27');
*{
    font-family: 'Montserrat';
}

/*.logout-btn{
    background:white;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    line-height: 30px;
    text-align: center;
    color: #391847;
    font-size: 15px;
    padding: 7px 20px;
    border-radius: 30px;
    border: none;
    font-weight: bold;
}*/

/*.Signin-btn
{
    background:white;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    line-height: 30px;
    text-align: center;
    color: #0A2351;
    font-size: 15px;
    padding: 7px 20px;
    border-radius: 30px;
    border: none;
    font-weight: bold;
}*/

.half-white{
    background: white;
    width: 50%;
    position: fixed;
    height: 100%;
    left: 0%;
    top: 2%;
    bottom: 0%;
    justify-content: center;


}

.half-blue{
/*     background-image: url('/SKIT_YIMS/Web Pages/img/hero_gif2.gif');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
    background-color: #FFF9E9;
    width: 50%;
    position: absolute;
    height: 100%;
    top: 0%;
    bottom: 0%;
    right: 0%;
    justify-content: center;
}

.img-logo{
    height: 80%;
    width: auto;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fadeIn 3s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

.goback{
    margin-left: 16px;
    font-family: 'Montserrat';
    font-size: 14px;
}
.purp-btn{
    color: #8B3535 ; 
}

.forgot-btn{
    color: black; 
    font-weight: 900;
    margin-left: 15%;
    text-decoration: underline;
}

.kmli{
    margin-left: 10px;
}

.signup-form{
    font-family: 'Montserrat';
    font-size: 14px;
    margin: 0;
    margin-top: 10%;
    width: 85%;
    color: black;
    font-weight: bold;
    justify-content: center;
    position: absolute;
    height: 92%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
/*    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}


.Sign{
    font-family: 'Montserrat';
    font-size: 35px;
    font-weight: 1000;
    color: black; 
    text-align: center;
    margin: auto;

}

.unp{
    font-family: 'Montserrat';
    font-size: 15px;
    color: black; 
    border: 2px solid black;
    padding: 15px;
    margin: 10px;
    margin-left: 10%;
    width: 70%;
    justify-content: center;
    align-items: center;

}

.name{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: black; 
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    width: 42%;  
}

.submitbtn{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: white; 
    padding: 10px;
/*    margin: 10px;*/
    width: 46%;
    background-color: #8B3535;
    font-weight: bold;
    letter-spacing: 1px;
    border: none;
    margin-right: 9px;
    text-align: center;
}

/*.submitbtn1{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: white; 
    padding: 10px;
    margin: 10px 10px 10px 10px;
    width: 95%;
    background-color: #0A2351;
    font-weight: bold;
    letter-spacing: 2px;
    border: none;
}*/

.g-recaptcha{
    margin: 15px;
    transform:scale(.99);
    -webkit-transform:scale(.99);
    transform-origin:0 0;
    -webkit-transform-origin:0 0;
}

.footer-name{
    margin-top: 30%;
    text-align: center;
}

@media screen and (max-width:800px) {
    .half-blue{

        display: none;
        clear: both;
        float: right;
        margin: 10px auto 5px 20px;
        width: 28%;
        display: none;
    }

    .img-logo{
        display: none;
        clear: both;
        float: right;
        margin: 10px auto 5px 20px;
        width: 28%;
        display: none;
    }

    .half-white{
        width: 100%;
    }

    .name{
        width: 92%;
    }


}

@media screen and (max-width:1368px) {
    .name{
        width: 92%;
    }

    .submitbtn{
        font-size: 12px;
        width: 50%
    }
}

@media screen and (max-width:1500px) {
    .img-logo{
        height: 70%;
        width: auto;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: fadeIn 3s;
        -webkit-animation: fadeIn 5s;
        -moz-animation: fadeIn 5s;
        -o-animation: fadeIn 5s;
        -ms-animation: fadeIn 5s;
    }
    
    .footer-name{
        margin-top: 20%;
        text-align: center;
    }
}