@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap%27');
*{
    font-family: 'Montserrat';
}

body{
    background-color:#FFF9E9;
}

/*NAVBAR*/
nav{
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    font-family: Montserrat;
    font-weight: 900;
    height: 45px;
    background-color: #8B3535;
    padding: 0.5%;
}

.logo{
    height: 100%;
}

#SK-Text-NavBar{
    padding: 0;
    display: inline-block;
    vertical-align:middle;

}

nav .logo{
    float: left;
    display: flex;
    align-items: center;
    color: white;
    font-family: Montserrat; 
    font-weight: bold;
    font-style: italic;
    font-size: 1.1em;
    line-height: 80px;
}

nav .links{
    float: right;
    padding: 0;
    margin: 0;
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav .links{
    width: 30%;
}

nav .links li{
    list-style: none;
}

nav .links a{
    display: block;
    padding: 1em;
    font-size: 1.1em;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

#nav-toggle{
    position: absolute;
    top: -100%;
}

nav .icon-burger{
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;   
    transform: translateY(-50%);
}

nav .icon-burger .line{
    width: 30px;
    height: 5px;
    background-color: white;
    margin: 5px;
    border-radius: 3px;
    transition: all .3s ease-in-out;
}

#Login{
    background: white;
    color: #8B3535;
    font-family: Montserrat;
    font-size: 1.1em;
    font-style: normal;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    border-radius: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 15px;
    padding-left: 15px;
}

@media screen and (max-width: 1048px){
    nav .logo{
        float: none;
        width: auto;
        justify-content: center;
        margin: 0;
    }
    nav .links{
        float: none;
        position: fixed;
        z-index: 9;
        left: 0;
        right: 0;
        top: 45px;
        bottom: 100%;
        width: auto;
        height: auto;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: rgba(113, 41, 41, 0.80);
        overflow: hidden;
        box-sizing: border-box;
        transition: all .5s ease-in-out;
    }
    nav .links a{
        font-size: 1.5em;      
    }    
    nav :checked ~ .links{
        bottom: 0;
        top: 45px;
    }
    nav .icon-burger{
        display: block; 
    }
    nav :checked ~ .icon-burger .line:nth-child(1) {
        transform: translateY(10px) rotate(225deg);
    }
    nav :checked ~ .icon-burger .line:nth-child(3) {
        transform: translateY(-10px) rotate(-225deg);
    }
    nav :checked ~ .icon-burger .line:nth-child(2) {
        opacity: 0;
    }
}

@media (max-width: 600px){
    #SK-Text-NavBar{
        display: none;

    }
}

/*SK LOGO*/
.header-logo{
    height: 100%;
    margin-left: 1%;
    margin-right: 1%;
    float: left;
}


.navbar-spacer{
    height: 80px;
}

.search-archive{
    display: flex;
    width: 100%;
    align-items: baseline;
}

.wrapper{
    border-style: none !important;
    height: 100%;
}

.wrapper input{
    font-size: 1em;
    margin-top: auto;
    margin-bottom: auto;
    padding: 5px 10px;
    border-radius: 5px;
}

@media (max-width: 655px){
    .search-archive{
        flex-direction: column;
        align-items: center;
    }
    
    
    .archive-button{
        margin-top: 10px;
        width: 100%;
    }
}

.search-button{
    padding: 7px 10px;
    background-color: #8B3535;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}



.horizontal-spacer{
    width: 20px;
}

.archive-button-container{
    height: 100%;
}

.archive-button{
    height: 100%;
    font-size: 0.8em;
    height: 100%;
    padding: 7px 10px;
    background-color: #E9DEDE;
    border: none;
    color: #8B3535;
    font-weight: bold;
    border-radius: 5px;
}

.database-title{
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 15px;
    align-content: flex-start;
}

.database-title-container{
    display: flex;
    align-items: baseline;
    width: 100%;
    justify-content: space-between;
}

@media (max-width: 655px){
    
    .database-title-container{
        flex-direction: column;
        align-items: center;
    }
    
    .open-button{
        margin-bottom: 10px;
    }

}

.sort-filter button{
    background-color: white;
    padding: 7px 10px;
    font-weight: bold;
    border-color: grey;
    border-radius: 5px;
}

.generate-button{
    display: block;
    margin: 15px auto;
    padding: 7px 10px;
    background-color: #8B3535;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    font-size: 1.2em;
}

.tabcontent{
    overflow: auto;
    overflow-y: auto;
    white-space: nowrap;
    background-color: white;
    height: 400px;
}

table{
   table-layout: fixed;
   border-collapse: collapse;
    border-spacing: 0px;
    
}

th{
    background-color: #8B3535;
    color: white;
}

th, td{
    padding: 5px;
    border-bottom: 1px solid #ddd;
    
    border: 1px solid;
    word-break: break-all;
}

td{
    border: 1px solid;
    word-wrap: break-word;
}

tr:nth-child(even){
    background-color: #E9DEDE;
}

.tab{
    display: flex;
}

@media (max-width:780px){
    .tab{
        flex-direction: column;
    }
}

.btn-warning{
    color: #8B3535;
    
}

.open-button{
    background-color: #8B3535;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.1em;
    border-radius: 5px;
}

/*FORM*/
.form-popup {
    background-color: white;
    display: inline-flex;
    flex-direction: row;
    height: 75%;
    overflow-y: scroll;
    position: fixed;
    z-index: 9;
    right: 0;
    position: absolute;
    bottom: 0;
    top: 185px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.form-container {
    display: flex;
    padding: 10px;
    background-color: white;
}

.form-container div{
    margin: 5px 30px;
}

#close-button-container{
    margin: 0;
}

.btn-cancel{
   z-index: 10;
   background-color: white;
   border: none;
}

.popup-button{
    width: 100%;
    margin-top: 10px;
    padding: 8px;
    border: none;
}

#popup-button1{
    background-color: #8B3535;
    color: white;
    margin-top: 30px;
}

#last-group{
    margin-top: 65px;
}


@media (max-width:780px){
    .form-container{
        flex-direction: column;
        
        
    }
    
    .form-popup {
        height: 60%;
        margin-top: 7%;
        width: 100%;
    }
    
    .btn-cancel {
        margin-top: 5%;
    }
    
    #last-group{
        margin: 5px 30px;
    }
    
    
}


@media (max-width: 655px){
    .form-popup{
        top: 280px;
    }
}

